<footer>
  <ul>
    <li>
      <h4>About Us</h4>
      <p>We are a company that sell your password to hackers to make a lot of
        benefits. We do not care about videos.</p>
    </li>
    <li>
      <h4>Useful links</h4>
      <ul>
        <li><a href="/"><strong>Home</strong></a></li>
        <li><a href="/viewpost"><strong>View post</strong></a></li>
        <li><a href="/postvideo"><strong>Post video</strong></a></li>
        <li><a href="/register"><strong>Registration</strong></a></li>
        <li><a href="/login"><strong>Login</strong></a></li>
        <li><a href="/profile"><strong>Profile</strong></a></li>
      </ul>
    </li>
    <li>
      <h4>Contact Us</h4>
      <address>175 Font Blvd, 94132 San Francisco, CA, USA</address>
      <p>Phone: 420 667 669
        <br />Email:
        <a href="mailto:sfsu@sfsu.edu">sfsu@sfsu.edu</a>
      </p>
    </li>
  </ul>
</footer>