<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    {{#each css}}
      <link rel="stylesheet" href="/public/css/{{this}}"/>
    {{/each}}
    {{#each js}}
      <script defer src="/public/js/{{this}}"></script>
    {{/each}}
  </head>
  <body>

    {{>flashmessages this}}
    <script>
    var flashMessage = document.getElementById('flash-messages');
    setTimeout(function() {
      flashMessage.style.animation = 'fade-out 1s';
    }, 2000);
    setTimeout(function() {
      flashMessage.remove();
    }, 3000);
    </script>
    {{>header}}
    {{{body}}}
    {{>footer}}
  </body>
</html>
